[submodule "AbedBilani"]
	path = AbedBilani
	url = git@github.com:abedbilani/chat.git
[submodule "Ibrahim-0507"]
	path = Ibrahim-0507
	url = git@github.com:Ibrahim-0507/Linux_minichat.git
[submodule "RaghebGhandour"]
	path = RaghebGhandour
	url = https://bitbucket.org/f0unix/linuxchat.git
[submodule "PeterOo"]
	path = PeterOo
	url = git@github.com:peter0o/linuxChat.git
[submodule "AbedHabboubTCP"]
	path = AbedHabboubTCP
	url = git@github.com:AbedHabboub/MiniChatTCP.git
[submodule "AbedHabboub"]
	path = AbedHabboub
	url = git@github.com:AbedHabboub/MiniChat.git
[submodule "NehmatSlim"]
	path = NehmatSlim
	url = git@github.com:ns7900f/linux.git
[submodule "MohamadDakdouki"]
	path = MohamadDakdouki
	url = git@github.com:skynete10/chat.git
[submodule "NehmatHallal"]
	path = NehmatHallal
	url = git@github.com:nehmat2015/minichat_tcp.git
[submodule "MohamadMohaidly"]
	path = MohamadMohaidly
	url = git@github.com:mohammadmoahidly/TalkProject.git
[submodule "AdelYounes"]
	path = AdelYounes
	url = https://github.com/adelyounes/Projet-Lunix
[submodule "SafaHjeij"]
	path = SafaHjeij
	url = https://github.com/safaahjj/projet_chat_linux.git
[submodule "MariamBS"]
	path = MariamBS
	url = https://github.com/mariambs/chat.git
